<header class="header">
  <h1>{{title}}</h1>
</header>
<div class="content">
  <nav>
    <p class="nav-titulo">Menu</p>
    <a class="nav-link" routerLink="/list-cars">Listar vagas ocupadas</a>
    <a class="nav-link" routerLink="/register-car">Cadastrar carro</a>
    <a class="nav-link" routerLink="/register-user">Cadastrar usuario</a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div><div style="clear:both;"></div>
<footer>
  <h4>Desenvolvido por Pedro Caballero</h4>
</footer>